@import "style/range-slider.pcss";

@tailwind base;
@tailwind components;

body {
  @apply w-screen h-screen fixed text-white bg-gray-900;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.flex-center {
  @apply flex justify-center items-center;
}


@tailwind utilities;
